<title>StudentInfo</title>
<body>
<table border="5" align="center">
<tr><th class="title"> Student Information</th></tr>
</table>
<ul>
<li>First Name :{{Student.firstName}}</li>
<li>Last Name :{{Student.lastName}}</li>
<li>Phone:{{Student.phone}}</li>
<li>Email:{{Student.email}}</li>
<li>StudentID :{{Student.studentid}}</li>
<li>Address :{{Student.address}}</li>
<li>City :{{Student.city}}</li>
<li>State:{{Student.state}}</li>
<li>Zip code:{{Student.zipcode}}</li>
<li>date of survey:{{Student.dateofsurvey}}</li>
<li> high school graduate month:{{Student.highschoolmonth}}</li>
<li>high school gradute year:{{Student.highschoolyear}}</li>
<li>things like gmu:{{Student.thingslikegmu}}</li>
<li>how to know gmu :{{Student.waytoknowgmu}}</li>
<li>whether recommend GMU:{{Student.recommend}}</li>
<li>comments:{{Student.comments}}</li>
</ul>
</body>
