<title>SimpleAcknowledge</title>
<table border="5" align="center">
  <tr><th style="color:Green;font-size:40px;" class="title">Welcome!</th></tr>
  </table>
  <br>
  <br>
<h3 align="center">Your data mean is {{mean}}, standard deviation is {{sd}},<br>
Thank you for filling out the form!</h3>

<br>
<br>
<h5 align="center"> Hint: Your information has been successfully saved in our database. </h5>
<h3 align="center"><strong>All student IDs are listed below </strong></h3>
<div align="center" *ngFor="let student of Student">
  <a align="center" style='margin-left:2em;' font="10pt" [routerLink]="['/studentinfo',student.studentid]">{{student.studentid}}</a>
 </div>
 <br>
 <br>
 <p>if you want to see most recent added student, click below</p>
 <button (click)="refresh()">refresh page </button>
 <router-outlet></router-outlet>
